<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hairdo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairDo">

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/textborder" />

        <activity android:name=".offer" />
        <activity android:name=".Offers" />

        <activity android:name=".UserSignUp"></activity>
        <activity android:name=".SalonSignUp" />

        <activity android:name=".BothSignUp" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>