<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hairdo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairDo.NoActionBar">
        <activity android:name=".SalonViewInUser"></activity>
        <activity android:name=".UserProfile" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".PaymentSummary" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Payment" />
        <activity android:name=".appointment" />
        <activity android:name=".EditDetails" />
        <activity android:name=".Summary" />
        <activity android:name=".ManageUpcomingApoointment" />
        <activity android:name=".UpcomingAppointments" />
        <activity android:name=".Holidays" />
        <activity android:name=".Calendar" />
        <activity android:name=".Reviews" />
        <activity
            android:name=".ManageServices"
            android:parentActivityName=".SalonProfile" />
        <activity
            android:name=".SalonProfile"
            android:label="@string/title_activity_salon_profile" />
        <activity android:name=".OTP" />
        <activity android:name=".UserSignUp" />
        <activity android:name=".SalonSignUp" />
        <activity android:name=".BothSignUp" />
        <activity android:name=".offer" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>